<link href="//fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">
	<style type="text/css">
	.hanna { font-family: 'hanna'; }
	.nanum { font-family: 'Nanum Barun Gothic'; }
	h1 { font: 20px;}
	</style>

  <P align="center">
    <img src="http://postfiles4.naver.net/MjAxNzA4MThfMTQ3/MDAxNTAzMDQxMDcxMzMz.PvvtKOHSLRHz3zlKcBvIYWgTGY0gABvzfjQStz7BYSUg.Nzkzc8wSYqur3onCsAJRoe7yNRxrB230AHQD3Lfhbr8g.PNG.412anna/%EB%83%89%EB%B6%80%ED%95%B4.png?type=w2"
    style="width: 50%" >
  </p>


<h1 class="hanna" align="center">나의 냉장고</h1>

<h1 align="center">식재료를 수정할 화면입니다</h1>

<form align="center" action="/posts/update/<%= @post.id %>" method="post">
    <p>식재료명</p>
    <input type="text" name="input_food" value="<%= @post.food %>">
    <p>수량</p>
    <input type="number" name="input_count" min="1" max="1000" value="<%= @post.count %>">
    <p>유통기한</p>
    <input type="date" name="input_shelflife" value="<%= @post.shelflife %>">
    <input type="submit" value="추가하기">
</form>