

  <p align="center">
    <img src="http://postfiles4.naver.net/MjAxNzA4MThfMTQ3/MDAxNTAzMDQxMDcxMzMz.PvvtKOHSLRHz3zlKcBvIYWgTGY0gABvzfjQStz7BYSUg.Nzkzc8wSYqur3onCsAJRoe7yNRxrB230AHQD3Lfhbr8g.PNG.412anna/%EB%83%89%EB%B6%80%ED%95%B4.png?type=w2"
    style="width: 50%" >
  </p>

<h1 class="hanna" align="center">+ 유통기한 체크 페이지 +</h1><br>


<center>
<div style="margin: 0 auto;padding: 0;max-width: 760px;clear: both;line-height: 1.8;">
<a href="/posts/index"
style="background: #004b8e;
border: 1px solid #004b8e;
color: #fff;
cursor: pointer;
text-decoration: none;
border-radius: 100px; 
font-size: 16px;
padding: 8px 16px;
font-weight: 600;">
 나의 냉장고 </a></div>

<br>

<div style="margin: 0 auto;padding: 0;max-width: 760px;clear: both;line-height: 1.8;">
<a href="/posts/new" 
style="background: #62C5F2;
border: 1px solid #62C5F2;
color: #fff;
cursor: pointer;
text-decoration: none;
border-radius: 100px; 
font-size: 16px;
padding: 8px 16px;
font-weight: 600;">
 새로운 식재료 등록하기 </a></div>

</center>